In [13]:
import pandas as pd
import numpy as np
# import pygwalker as pyg

In [15]:
df = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1753329431_21.csv')
df_22 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1753341756_22.csv')
df_28 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1753775670_28.csv')
df_8_5 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1754385922_8_5.csv')
df_8_11 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1755661415_8_11.csv')
df_8_18 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1755661737_8_18.csv')
df_8_27 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1756259130_8_27.csv')
df_9_2 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1756871451_9_2.csv')
df_9_15 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1758096653_9_15.csv')
df_9_29 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1759370414_9_29.csv')
df_10_6 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1759824736_10_6.csv')
df_10_13 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1760683456_10_13.csv')
df_10_20 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1761106034_10_20.csv')
df_10_27 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1761728246_10_27.csv')
df_11_3 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1762228692_11_3.csv')
df_11_10 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1762918577_11_10.csv')
df_11_16 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1764228350_11_16.csv')
df_11_17 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1764139740_11_17.csv')
df_11_18 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1764140060_11_18.csv')
df_11_24 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1764139385_11_24.csv')

C:\Users\ozy.prazuganda\AppData\Local\Temp\ipykernel_13196\123620357.py:1: DtypeWarning: Columns (23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1753329431_21.csv')
C:\Users\ozy.prazuganda\AppData\Local\Temp\ipykernel_13196\123620357.py:3: DtypeWarning: Columns (23,24,25,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_28 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1753775670_28.csv')
C:\Users\ozy.prazuganda\AppData\Local\Temp\ipykernel_13196\123620357.py:4: DtypeWarning: Columns (23,24,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df_8_5 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1754385922_8_5.csv')
C:\Users\ozy.prazuganda\AppData\Local\Temp\ipykernel_13196\123620357.py:6: DtypeWarning: Columns (23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_8_18 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1755661737_8_18.csv')
C:\Users\ozy.prazuganda\AppData\Local\Temp\ipykernel_13196\123620357.py:7: DtypeWarning: Columns (10,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_8_27 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1756259130_8_27.csv')
C:\Users\ozy.prazuganda\AppData\Local\Temp\ipykernel_13196\123620357.py:8: DtypeWarning: Columns (23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_9_2 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1756871451_9_2.csv')
C:\Users\ozy.prazuganda\AppData\Local\Temp\ipykernel_13196\123620357.py:11: DtypeWarning: Columns (23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_10_6 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1759824736_10_6.csv')
C:\Users\ozy.prazuganda\AppData\Local\Temp\ipykernel_13196\123620357.py:14: DtypeWarning: Columns (23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_10_27 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1761728246_10_27.csv')
C:\Users\ozy.prazuganda\AppData\Local\Temp\ipykernel_13196\123620357.py:15: DtypeWarning: Columns (23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_11_3 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1762228692_11_3.csv')
C:\Users\ozy.prazuganda\AppData\Local\Temp\ipykernel_13196\123620357.py:16: DtypeWarning: Columns (23,24,25,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_11_10 = pd.read_csv('dataset_accuracy/akulaku_superset_presto_hanmm_ozy.prazuganda_1762918577_11_10.csv')

In [16]:
def calculate_accuracy(df):
    date = df['day'].iloc[0]
    df_filtered = df[df.iloc[:, 21] == "是"].iloc[:, [21, 34]]
    denom = (df_filtered.iloc[:,0] == "是").sum()
    if denom == 0:
        return np.nan, date

    accuracy = (df_filtered.iloc[:, 1] == "是").sum() / denom * 100
    return accuracy, date

dataframes = [df, df_22, df_28, df_8_5, df_8_11, df_8_18, df_8_27, df_9_2, df_9_15, df_9_29, df_10_6, df_10_13, df_10_20, df_10_27, df_11_3, df_11_10, df_11_16,
 df_11_17, df_11_18, df_11_24]
results = []

for  data in dataframes:
    ratio, date = calculate_accuracy(data)
    results.append({
        'date': date,
        'ratio': ratio
    })

accuracy_history = pd.DataFrame(results)
accuracy_history

          date      ratio
0   2025-07-21  95.994994
1   2025-07-22  96.098105
2   2025-07-28  97.959184
3   2025-08-04  91.037736
4   2025-08-11  95.458167
5   2025-08-18  92.156863
6   2025-08-25  98.996991
7   2025-09-02  98.214286
8   2025-09-15  92.375367
9   2025-09-29  94.106280
10  2025-10-06  98.830409
11  2025-10-13  96.115628
12  2025-10-20  93.552311
13  2025-10-27  96.750524
14  2025-11-03  96.303142
15  2025-11-10  95.431472
16  2025-11-16        NaN
17  2025-11-17        NaN
18  2025-11-18        NaN
19  2025-11-24        NaN

In [17]:
def calculate_accuracy(df):
    date = df['day'].unique()
    df_filtered = df[df.iloc[:, 21] == "是"].iloc[:, [21, 34]]
    accuracy = (df_filtered.iloc[:, 1] == "是").sum() / (df_filtered.iloc[:, 0] == "是").sum() * 100
    return accuracy, date

dataframes = [df, df_22, df_28, df_8_5, df_8_11, df_8_18, df_8_27, df_9_2, df_9_15, df_9_29, df_10_6, df_10_13, df_10_20, df_10_27, df_11_3, df_11_10, df_11_16, df_11_17, df_11_18, df_11_24]

for i, data in enumerate(dataframes, start=1):
    ratio, date = calculate_accuracy(data)
    accuracy_history = pd.DataFrame([ratio], [date])
    
    print(f"{ratio:.2f} % Accuracy per {date}")

95.99 % Accuracy per ['2025-07-21']
96.10 % Accuracy per ['2025-07-22']
97.96 % Accuracy per ['2025-07-28']
91.04 % Accuracy per ['2025-08-04']
95.46 % Accuracy per ['2025-08-11']
92.16 % Accuracy per ['2025-08-18']
99.00 % Accuracy per ['2025-08-25']
98.21 % Accuracy per ['2025-09-02']
92.38 % Accuracy per ['2025-09-15']
94.11 % Accuracy per ['2025-09-29']
98.83 % Accuracy per ['2025-10-06']
96.12 % Accuracy per ['2025-10-13']
93.55 % Accuracy per ['2025-10-20']
96.75 % Accuracy per ['2025-10-27']
96.30 % Accuracy per ['2025-11-03']
95.43 % Accuracy per ['2025-11-10']
nan % Accuracy per ['2025-11-16']
nan % Accuracy per ['2025-11-17']
nan % Accuracy per ['2025-11-18']
nan % Accuracy per ['2025-11-24']

C:\Users\ozy.prazuganda\AppData\Local\Temp\ipykernel_13196\2279570701.py:4: RuntimeWarning: invalid value encountered in scalar divide
  accuracy = (df_filtered.iloc[:, 1] == "是").sum() / (df_filtered.iloc[:, 0] == "是").sum() * 100
C:\Users\ozy.prazuganda\AppData\Local\Temp\ipykernel_13196\2279570701.py:4: RuntimeWarning: invalid value encountered in scalar divide
  accuracy = (df_filtered.iloc[:, 1] == "是").sum() / (df_filtered.iloc[:, 0] == "是").sum() * 100
C:\Users\ozy.prazuganda\AppData\Local\Temp\ipykernel_13196\2279570701.py:4: RuntimeWarning: invalid value encountered in scalar divide
  accuracy = (df_filtered.iloc[:, 1] == "是").sum() / (df_filtered.iloc[:, 0] == "是").sum() * 100
C:\Users\ozy.prazuganda\AppData\Local\Temp\ipykernel_13196\2279570701.py:4: RuntimeWarning: invalid value encountered in scalar divide
  accuracy = (df_filtered.iloc[:, 1] == "是").sum() / (df_filtered.iloc[:, 0] == "是").sum() * 100

In [11]:
accuracy_history

             0
2025-11-24 NaN