In [2]:
import gspread
import pandas as pd
from datetime import date
from google.oauth2.service_account import Credentials

## Pipeline A

In [3]:
SERVICE_ACCOUNT_FILE = '../../key/credentials.json'
SCOPES = ['https://www.googleapis.com/auth/spreadsheets',
          'https://www.googleapis.com/auth/drive']

creds = Credentials.from_service_account_file(SERVICE_ACCOUNT_FILE, scopes=SCOPES)
client = gspread.authorize(creds)

sheet = client.open("Chatbot Ops Report").worksheet("CSAT Chatbot")
data = sheet.get_all_values()

df = pd.DataFrame(data[1:], columns=data[0])

In [4]:
df_clean = df.copy()

df_clean = df_clean.drop('Day', axis=1)
df_clean['Date'] = pd.to_datetime(df_clean['Date'], format='%d-%b-%Y', errors='coerce')
df_clean = df_clean.dropna(subset=['Date'])

In [5]:
df_clean

,Date,Total Good Survey,Total Bad Survey,Total Responden,Total Rating,CSAT
1,2023-01-30,25,16,41,133,3.24
2,2023-01-31,26,17,43,140,3.26
3,2023-02-01,21,12,33,113,3.42
4,2023-02-02,23,17,40,130,3.25
5,2023-02-03,24,19,43,130,3.02
...,...,...,...,...,...,...
941,2025-08-27,15,8,23,79,3.43
942,2025-08-28,12,16,28,75,2.68
943,2025-08-29,18,15,33,105,3.18
944,2025-08-30,13,8,21,69,3.29
945,2025-08-31,17,11,28,94,3.36

## Pipeline B

In [6]:
df_b = pd.read_csv('../../dataset_kula/csat/akulaku_superset_presto_hanmm_ozy.prazuganda_1755663318_8_19.csv')
df_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11949 entries, 0 to 11948
Data columns (total 33 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   business                           11949 non-null  object
 1   id                                 11949 non-null  object
 2   currentAccount                     11949 non-null  object
 3   userId                             11949 non-null  int64
 4   shopid                             11949 non-null  int64
 5   summary_type                       0 non-null      float64
 6   summary_classify                   0 non-null      float64
 7   ticketid                           4805 non-null   object
 8   Category 1                         4492 non-null   object
 9   Category 2                         4146 non-null   object
 10  Category 3                         3912 non-null   object
 11  summary_text                       0 non-null      float64
 12  closesource                        11169 non-null  object
 13  score                              639 non-null    float64
 14  solved_num                         505 non-null    float64
 15  unsolved_num                       505 non-null    float64
 16  labels                             436 non-null    object
 17  content                            71 non-null     object
 18  firstsendtime                      4794 non-null   object
 19  firstResponseTime                  4688 non-null   object
 20  firstUserMsgTime                   11842 non-null  object
 21  createTime                         11949 non-null  object
 22  closeTime                          11943 non-null  object
 23  transfermanualtime                 4804 non-null   object
 24  connectiontime                     4804 non-null   object
 25  conversation_continue_time_minute  11943 non-null  float64
 26  qc_score                           0 non-null      float64
 27  time_out                           0 non-null      float64
 28  question_category1                 0 non-null      float64
 29  question_category2                 0 non-null      float64
 30  total_message                      11949 non-null  int64
 31  user_send_message                  11949 non-null  int64
 32  cs_send_message                    11949 non-null  int64
dtypes: float64(11), int64(5), object(17)
memory usage: 3.0+ MB

In [7]:
# Filtering the currentAccount into robot only
df_filtered = df_b[df_b['currentAccount'] == '3-1-robot']

# Cleaning and Counting
score = df_filtered['score'].dropna()

total_responden = score.count()
total_rating = int(score.sum())
csat = round(total_rating / total_responden, 2) if total_responden > 0 else 0

# Good survey and bad survey counting
good_survey = score[score >= 3].count()
bad_survey = score[score < 3].count()

In [8]:
"""
-- Not necessary at the moment --

# Checking if the yesterday data already exists in the DataFrame
yesterday = pd.Timestamp(date.today() - pd.Timedelta(days=1))

if (df_clean['Date'].iloc[-1].normalize != yesterday.normalize()):
    new_row = pd.DataFrame([{
        'Date': yesterday,
        'Total Good Survey': good_survey,
        'Total Bad Survey': bad_survey,
        'Total Responden': total_responden,
        'Total Rating': total_rating,
        'CSAT': csat
    }])

    df_clean = pd.concat([df_clean, new_row], ignore_index=True)

"""

"\n-- Not necessary at the moment --\n\n# Checking if the yesterday data already exists in the DataFrame\nyesterday = pd.Timestamp(date.today() - pd.Timedelta(days=1))\n\nif (df_clean['Date'].iloc[-1].normalize != yesterday.normalize()):\n    new_row = pd.DataFrame([{\n        'Date': yesterday,\n        'Total Good Survey': good_survey,\n        'Total Bad Survey': bad_survey,\n        'Total Responden': total_responden,\n        'Total Rating': total_rating,\n        'CSAT': csat\n    }])\n\n    df_clean = pd.concat([df_clean, new_row], ignore_index=True)\n\n"

In [9]:
df_clean.to_csv('../../dataset_kula/csat.csv')